@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', sans-serif;
  font-smoothing: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, monospace;
}

.container {
  @apply max-w-screen-lg;
}
